<mat-sidenav-container
  autosize
  class="sidenav-container"
  [class.sidebar-collapsed]="isLeftSidebarCollapsed()"
>
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    [opened]="true"
    class="sidenav"
    [class.sidenav-collapsed]="isLeftSidebarCollapsed()"
  >
    <mat-toolbar class="logo-container">
      <button mat-icon-button class="logo-button" (click)="toggleCollapse()">
        <fa-icon [icon]="faBars" />
      </button>
      @if (!isLeftSidebarCollapsed()) {
        <span class="logo-text">plantbook</span>
      }
    </mat-toolbar>

    <mat-nav-list class="sidenav-nav">
      @for (item of items; track $index) {
        <a
          mat-list-item
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="sidenav-nav-link"
        >
          <fa-icon [icon]="item.icon" class="sidenav-link-icon" matListItemIcon />
          @if (!isLeftSidebarCollapsed()) {
            <span matListItemTitle class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content />
  </mat-sidenav-content>
</mat-sidenav-container>